#service-page .img{
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat  ;
}

#service-page .container .rounded{ 
  background-image: url("../assets/bgServices.svg");
  background-size: cover;
  background-position: center;
}

#service-page.cleaning .img{
  background-image: url('../assets/Serviços/limpeza.jpeg');
}

#service-page.maintance .img{
  background-image: url('../assets/Serviços/manutencao.jpg');
}

#service-page.pmoc .img{
  background-image: url('../assets/Serviços/pmoc.jpg');
}