#gallery .btn-gallery {
  background-color: #ffffff;
  color: #015593;
  transition: all 500ms;
}

#gallery .btn-gallery:hover {
  cursor: pointer;
  background-color: #015593;
  color: white;
}

#gallery .des {
  height: 180px;
}

@media (min-width: 576px) {
  #gallery .des {
    height: 262px;
  }
}

@media (min-width: 768px) {
  #gallery .des {
    height: 232px;
  }
}

@media (min-width: 992px) {
  #gallery .des {
    height: 312px;
  }
}

@media (min-width: 1200px) {
  #gallery .des {
    height: 372px;
  }
}

@media (min-width: 1400px) {
  #gallery .des {
    height: 432px;
  }
}
