#hero .carousel-item {
  background-image: url("../assets/Hero/carrouselUmVert.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80vh;
}

#hero .carousel-item.b{
  background-image: url("../assets/Hero/carrouselDoisVert.png");
  
}

#hero .carousel-item.c {
  background-image: url("../assets/Hero/carrouselTresVert.png");
}

#hero .carousel-item .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

#hero .react-multi-carousel-dot {
  margin-bottom: 20px;
}

@media (min-width:992px) {
  #hero .carousel-item{
    background-image: url("../assets/Hero/carrouselUmHor.png");
    
  }
  #hero .carousel-item.b{
    background-image: url("../assets/Hero/carrouselDoisHor.png");
    
  }
  #hero .carousel-item.c{
    background-image: url("../assets/Hero/carrouselTresHor.png");
    
  }
  
}

