/* Garantir que o vídeo se adapte à largura da tela */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Mantém a proporção 16:9 */
    height: 0;
    overflow: hidden;
}

.embed-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.embed-responsive-item {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Ajustes gerais para o layout */
#team {
    padding: 20px; /* Espaçamento ao redor da seção */
}

.bg-light {
    background-color: #f8f9fa; /* Cor de fundo leve */
}

.text-color-blue {
    color: #007bff; /* Cor de texto azul */
}

.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}
